body {
    background-color: black;
}

#guessWord {
    text-align: center;
    font-family: Sedgwick Ave Display;
    font-size: 3.8vh;
    color: black;
    margin-bottom: 5%;
    padding-top: 20px;
}

#guessDefinition {
    text-align: center;
    font-family: Sedgwick Ave Display;
    color: black;
    font-size: 2.8vh;
    margin-top: 5%;
    margin-bottom: 5%;
}

#playingCards {
    background-color: white;
    padding-bottom: 5%;
}

#letters {
    max-width: 100%;
    text-align: center;
}

#nav_title {
    font-family: Sedgwick Ave Display;
    font-size: 3vw;
    color: #DFE6E9;
}

#nav_health {
    font-family: Sedgwick Ave Display;
    font-size: 3vw;
    color: #DFE6E9;
}

#nav_score {
    font-family: Sedgwick Ave Display;
    font-size: 3vw;
    color: #DFE6E9;
}

#bottomContainer {
    max-width: 100%;
    max-height: 90vh;
}

#userScoreLeaderboard {
    font-family: Sedgwick Ave Display;
    color: white;
}

#nicknameInputDiv {
    max-width: 100%;
}

#restartButton,
#restartButtonFr {
    font-family: Sedgwick Ave Display;
    margin-top: 1%;
    margin-bottom: 2px;
    font-size: 4vh;
    text-align: right;
    color: black;
    background-color: transparent;
    text-decoration: none;
    border-radius: 50%;
}

#restartButtonFr:hover {
    color: white;
    background-color: black;
    border-color: grey;
}


.guessButtonNormal {
    background-color: white;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    color: black;
    padding: 5px 10px;
    margin-right: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition-duration: 0.3s;
    cursor: pointer;
}

.guessButtonNormal:hover {
    background-color: black;
    color: white;
}

.guessButtonWrong {
    background-color: rgba(255, 0, 0, 0.9);
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.037);
    color: black;
    padding: 5px 10px;
    margin-right: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition-duration: 0.3s;
    cursor: pointer;
}

.guessButtonRight {
    background-color: rgba(0, 128, 0, 0.9);
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.037);
    color: black;
    padding: 5px 10px;
    margin-right: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition-duration: 0.3s;
    cursor: pointer;
}

#title {
    font-family: Sedgwick Ave Display;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    line-height: 30px;
    text-align: center;
    color: #DFE6E9;
}

#titleDescription {
    font-family: Sedgwick Ave Display;
    font-style: normal;
    font-size: 2.7vw;
    font-weight: normal;
    text-align: center;
    padding-top: 15px;
    color: #DFE6E9;
}

#startButton,
#nicknameInput,
#playAgainButton {
    font-family: Sedgwick Ave Display;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #DFE6E9;
    background-color: transparent;
    padding: 11px 23px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid white;
    max-width: 50%;
    border-radius: 12px;
}

#startButton:hover,
#nicknameInput:hover,
#playAgainButton:hover {
    color: black;
    background-color: white;
    border-color: grey;
}

#leaderboardTitle {
    font-family: Sedgwick Ave Display;
    color: white;
}

#leaderboardBody {
    background-color: transparent;
}

#outlineCard {
    border: white 2px solid;
    background-color: transparent;
}

td,
tr,
th {
    font-family: Sedgwick Ave Display;
    color: white;
}
