#guessBox {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}


#letters {

    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;

}

#topBarManeuver {
    background: rgb(136, 22, 72);
    background: linear-gradient(0deg, rgba(136, 22, 72, 1) 0%, rgba(253, 45, 70, 1) 100%);
    text-align: center;
    border-bottom: 2.5px solid rgb(54, 53, 53);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3.9em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 5px 0;
    color: white;
}

#description {
    font-size: 1.5em;
    color: white;
    text-align: center;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.header {
    text-align: center;
}


#leaderboardScore {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#leaderboardName {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.leaderboardTable {
    width: 30%;
    display: none;
}

#playingCards {
    width: fit-content;
    border-color: grey;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px;
    text-align: center;
}

#stickyStats {
    background: rgb(253, 45, 70);
    background: linear-gradient(0deg, rgba(253, 45, 70, 1) 0%, rgba(136, 22, 72, 1) 100%);

}

.card-title {
    text-align: center;
}

#noMoreWords {
    display: none;
}

#healthLevel {
    font-size: 1.5em;
}

#scoreLevel {
    font-size: 1.5em;
}

#headerGradient {
    background: rgb(136, 22, 72);
    background: linear-gradient(0deg, rgba(136, 22, 72, 1) 0%, rgba(253, 45, 70, 1) 100%);
    border-bottom: 2.5px solid rgb(54, 53, 53);
    color: white;
}

#buttonGradient {
    background: rgb(253, 45, 70);
    background: linear-gradient(0deg, rgba(253, 45, 70, 1) 0%, rgba(136, 22, 72, 1) 100%);
}

#outlineCard {
    border: 1.5px solid rgb(54, 53, 53);
}